<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"var:preset|spacing|70"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group">
<!-- wp:pattern {"slug":"osmium/hero-newsletter"} /-->

<!-- wp:pattern {"slug":"osmium/hidden-front-featured"} /-->

<!-- wp:pattern {"slug":"osmium/hidden-front-latest"} /-->

<!-- wp:pattern {"slug":"osmium/category-strip"} /-->

<!-- wp:pattern {"slug":"osmium/author-intro"} /-->

<!-- wp:pattern {"slug":"osmium/cta-band"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
